.input-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 500px;
    margin-bottom: 4%;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}